*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-inline: 24px;
  padding-top: 90px;
  background-image: url(./images/bg-pattern.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% -300px;
  background-color: hsl(230, 100%, 99%);
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: hsl(225, 20%, 60%);
}

@media screen and (min-width: 768px) {
  body {
    padding-top: 100px;
    background-position: 0% calc(50% - 350px);
  }
}

.intro {
  position: relative;
  margin-bottom: 70px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .intro {
    margin-bottom: 90px;
  }
}

.intro::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  display: block;
  width: 146px;
  height: 145px;
  background-image: url(./images/pattern-circles.svg);
  background-size: cover;
}

.intro h1 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 800;
  color: hsl(227, 35%, 25%);
}

@media screen and (min-width: 768px) {
  .intro h1 {
    font-size: 24px;
  }
}

.intro p {
  font-size: 13px;
}

@media screen and (min-width: 768px) {
  .intro p {
    font-size: 15px;
  }
  .intro p br {
    display: none;
  }
}

.pricing-component {
  width: min(100%, 560px);
  margin-bottom: 90px;
  padding: 32px 16px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  box-shadow: 0px 10px 25px -3px hsla(227, 35%, 25%, 0.1);
}

@media screen and (min-width: 768px) {
  .pricing-component {
    margin-bottom: 100px;
    padding: 40px 50px;
  }
}

.pricing-component-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}

@media screen and (min-width: 768px) {
  .pricing-component-main {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
}

.pageviews-wrap {
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media screen and (min-width: 768px) {
  .pageviews-wrap {
    order: 1;
    /* font-size: 15px; */
  }
}

.slider-wrap {
  position: relative;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .slider-wrap {
    order: 3;
  }
}

#slider {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.slider-track {
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background-color: hsl(224, 65%, 95%);
}

.slider-track > .fill {
  width: 0;
  height: 100%;
  border-radius: 5px;
  background-color: hsl(174, 77%, 80%);
}

#slider::-webkit-slider-thumb {
  appearance: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: hsl(174, 86%, 45%);
  background-image: url(./images/icon-slider.svg);
  background-size: 22px 13px;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 0px 15px 30px 5px hsla(174, 86%, 45%, 0.3);
  transition: transform 80ms ease;
}

#slider::-webkit-slider-thumb:active {
  transform: scale(1.1);
}

#slider::-moz-range-thumb {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: hsl(174, 86%, 45%);
  background-image: url(./images/icon-slider.svg);
  background-size: 22px 13px;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 0px 15px 30px 5px hsla(174, 86%, 45%, 0.3);
  transition: transform 80ms ease;
}

#slider::-moz-range-thumb:active {
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .price-wrap {
    order: 2;
  }
}

.price {
  margin-right: 10px;
  vertical-align: middle;
  font-size: 32px;
  font-weight: 800;
  color: hsl(227, 35%, 25%);
}

@media screen and (min-width: 768px) {
  .price {
    font-size: 40px;
  }
}

.billing-type {
  position: relative;
}

@media screen and (min-width: 768px) {
  .billing-type {
    order: 4;
    margin-top: 10px;
    margin-inline: auto;
  }
}

.billing-switch-wrap > span {
  font-size: 13px;
}

#billing-switch {
  cursor: pointer;
  position: relative;
  appearance: none;
  width: 50px;
  height: 26px;
  margin-inline: 16px;
  border-radius: 50px;
  background-color: hsl(223, 50%, 87%);
  vertical-align: middle;
  transition: background 60ms ease;
}

#billing-switch:checked {
  background-color: hsl(174, 77%, 80%);
}

#billing-switch::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: 2;
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: hsl(0, 0%, 100%);
  transition: left 60ms linear, transform 60ms linear;
}

#billing-switch:checked::after {
  left: calc(100% - 4px);
  transform: translateX(-100%);
}

.discount {
  position: absolute;
  top: -5px;
  transform: translateY(-100%);
  right: -8px;
  padding: 2px 8px;
  border-radius: 50px;
  background-color: hsl(14, 92%, 95%);
  color: hsl(15, 100%, 70%);
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .discount {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(calc(100% + 5px), -50%);
  }
}

.pricing-component-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
  margin-inline: -16px;
  margin-top: 40px;
  padding: 32px 32px 0px;
  border-top: 1px solid hsl(225, 20%, 60%, 0.3);
}

@media screen and (min-width: 768px) {
  .pricing-component-footer {
    flex-direction: row;
    justify-content: space-between;
    margin-inline: -50px;
    padding-inline: 50px;
  }
}

.features {
  margin: 0;
  list-style: none;
}

.features li {
  margin-top: 8px;
  font-size: 13px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .features li {
    text-align: start;
  }
}

.features li::before {
  content: "";
  display: inline-block;
  width: 9px;
  height: 8px;
  margin-right: 16px;
  background-image: url(./images/icon-check.svg);
  background-size: cover;
}

#submit {
  cursor: pointer;
  padding: 12px 35px;
  border: none;
  border-radius: 50px;
  background-color: hsl(227, 35%, 25%);
  color: hsl(227, 53%, 78%);
  font: inherit;
  font-weight: 800;
}

#submit:hover,
#submit:active,
#submit:focus {
  color: hsl(0, 0%, 100%);
}

.attribution {
  margin-top: auto;
  margin-bottom: 20px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(227, 35%, 25%);
}
